.btn {
  background: linear-gradient(to bottom right, #02ce80, #7bd706);
  font-weight: 500;
  font-family: "Onest", sans-serif;
}
.btn:hover {
  background: linear-gradient(to bottom right, #7bd706, #02ce80);
  transition: all 1.5s ease;
}

.btn-transparent {
  background: transparent !important;
  font-weight: 500;
  color: #36C042;
  border: 1px solid #05CE80;
  cursor: pointer;
  font-family: "Onest", sans-serif;
}
.btn-transparent:hover {
  background: linear-gradient(to bottom right, #7bd706, #02ce80) !important;
  color: white;
  border-color: transparent;
  transition: all 0.5s ease;
}

.linear-gradient-text-color {
  background: linear-gradient(to bottom right, #02ce80, #7bd706);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

nav {
  font-weight: 500;
  border-bottom: 1px solid #302F42;
  font-family: "Onest", sans-serif;
}
nav .nav-link.dropdown-toggle::after {
  display: none !important;
}
nav:hover {
  background-color: #0D051C;
  transition: all 0.5s ease;
}
nav .nav-icon {
  background-color: #E6405A;
  width: 15px;
  height: 15px;
  font-size: 10px;
  z-index: 999;
}

.hero {
  background-color: rgb(13, 15, 18);
  background-image: url("/images/hero__section/i_1.webp");
  background-position: center -150px;
  font-family: "Onest", sans-serif;
}
.hero h6 {
  color: #3FD344;
}
.hero p {
  width: 65%;
  line-height: 1;
  font-size: clamp(4rem, 5vw, 5rem);
}
@media (max-width: 992px) {
  .hero p {
    width: 60%;
  }
}
.hero .image-carousel-wrapper {
  overflow: hidden;
  width: 100%;
  margin-top: -100px;
}
.hero .image-carousel-wrapper .image-carousel {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1.5rem;
}
.hero .image-carousel-wrapper .img-container {
  position: relative;
  cursor: pointer;
  width: 300px;
  height: 350px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .hero .image-carousel-wrapper .img-container {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 576px) {
  .hero .image-carousel-wrapper .img-container {
    width: 100%;
    height: auto;
  }
}
.hero .image-carousel-wrapper .img-container img.img-style {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}
.hero .image-carousel-wrapper .img-container::before, .hero .image-carousel-wrapper .img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 1;
}
.hero .image-carousel-wrapper .img-container::before {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.hero .image-carousel-wrapper .img-container::after {
  content: "+";
  color: white;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
}
.hero .image-carousel-wrapper .img-container:hover::before, .hero .image-carousel-wrapper .img-container:hover::after {
  opacity: 1;
}
.hero .image-carousel-wrapper .img-container.top-0 {
  margin-top: 0px;
}
.hero .image-carousel-wrapper .img-container.top-0:first-child {
  margin-left: -80px;
}
.hero .image-carousel-wrapper .img-container.top-0:last-child {
  margin-right: -85px;
}
.hero .image-carousel-wrapper .img-container.top-1 {
  margin-top: 100px;
}
.hero .image-carousel-wrapper .img-container.top-2 {
  margin-top: 200px;
}

.brand-marquee {
  overflow: hidden;
  white-space: nowrap;
  background-color: #0D0F12;
}
.brand-marquee .marquee-inner {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}
.brand-marquee .marquee-inner span {
  font-size: clamp(30px, 6vw, 100px);
  letter-spacing: 40px;
}
.brand-marquee .marquee-inner span svg path {
  fill: #5F6061 !important;
}
.brand-marquee .marquee-inner:hover svg {
  animation-play-state: paused !important;
}
.brand-marquee .marquee-inner:hover span:hover svg path {
  fill: #4BD23A !important;
}
.brand-marquee svg {
  animation: brand 3s linear infinite alternate;
}

@keyframes brand {
  0% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(20px);
  }
}
.ai-image-generator {
  background-color: #0D0F12;
  font-family: "Onest", sans-serif;
}
.ai-image-generator h6 {
  color: #0ECF71;
}
.ai-image-generator h1 {
  font-size: clamp(36px, 5vw, 60px);
  line-height: 1;
}
.ai-image-generator h4 {
  color: #E5E5E5;
}
.ai-image-generator p {
  color: #CFCFCF;
  font-size: clamp(14px, 5vw, 18px);
  width: 450px;
}
.ai-image-generator h4 + p {
  width: 250px;
}
@media (max-width: 768px) {
  .ai-image-generator h6 {
    margin-top: 20px;
  }
  .ai-image-generator h1 {
    line-height: 1.2;
  }
  .ai-image-generator p {
    line-height: 1.2;
  }
  .ai-image-generator h4 + p {
    width: 100%;
    margin-bottom: 50px;
  }
}

.services {
  background-color: #0D0F12;
  font-family: "Onest", sans-serif;
  overflow-x: hidden;
  display: flex;
  border-top: 1px solid #28292C;
  border-bottom: 1px solid #28292C;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .services .container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.services .card {
  box-sizing: border-box;
  width: 307px !important;
  height: 508px !important;
  border: 1px solid #26272A;
  flex-shrink: 0;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  background: transparent;
}
.services .card-text {
  color: #E5E5E5;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
}
.services .card:last-child {
  border-right: none;
}
.services .btn {
  background-color: #28292C !important;
  width: 46px;
  height: 46px;
}
.services .btn:hover {
  background: linear-gradient(to bottom right, #7bd706, #02ce80) !important;
  color: white;
  border-color: transparent;
  transition: all 0.5s ease;
}
@media (max-width: 768px) {
  .services {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .services .card {
    width: 95% !important;
    max-width: none;
    border: none;
    border-left: 1px solid #28292C;
    margin-bottom: 20px;
  }
}

.company-vision {
  font-family: "Onest", sans-serif;
  background-image: url(/images/companys__vision/company-vision-background-image.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 615px;
  padding: 100px 220px;
  min-height: 400px;
}
.company-vision h1 {
  font-size: clamp(36px, 5vw, 60px);
  line-height: 1;
}
.company-vision h6 {
  color: #1ACF68;
  font-size: 14px;
}
.company-vision .btn {
  color: #FFFFFF;
}
.company-vision .btn:hover {
  color: #FFFFFF;
}
.company-vision p {
  color: #E5E5E5;
  font-size: clamp(16px, 5vw, 18px);
  line-height: 1.3;
  width: 580px;
}
@media (max-width: 768px) {
  .company-vision {
    padding: 120px 10px;
    background-size: cover;
  }
  .company-vision h1 {
    width: 100% !important;
  }
  .company-vision p {
    width: 100% !important;
  }
}

.how-aine-art-works {
  background-color: #0D0F12;
  font-family: "Onest", sans-serif;
  border-bottom: 1px solid #28292C;
}
.how-aine-art-works h6 {
  color: #18CF6A;
  font-size: 14px;
}
.how-aine-art-works h1 {
  font-size: clamp(36px, 5vw, 60px);
  line-height: 1;
  width: 80%;
}
.how-aine-art-works p {
  color: #D8D8D8;
}
.how-aine-art-works .card {
  margin-left: -120px;
}
.how-aine-art-works .card svg {
  margin-top: 15px;
}
.how-aine-art-works .btn-transparent {
  margin-left: -250px !important;
  color: #3FD244;
  width: 205px;
  height: 58px;
  border: 1px solid #3FD244 !important;
  transition: all 0.5s ease;
}
.how-aine-art-works .btn-transparent:hover {
  border: 1px solid white !important;
  color: white;
  transition: all 0.5s ease;
}

@media (max-width: 767.98px) {
  .how-aine-art-works {
    flex-direction: column !important;
  }
  .mobile-design h6,
  .mobile-design h1 {
    margin-left: -30px;
  }
  .mobile-design .card {
    margin-left: -30px;
  }
  .mobile-design .card-title {
    margin-top: -70px;
    margin-left: 60px;
  }
  .mobile-design h5,
  .mobile-design p {
    margin-left: 60px;
    margin-top: 10px;
  }
  .card .row {
    flex-direction: row !important;
    align-items: center;
  }
  .card .col-md-4,
  .card .col-md-8 {
    flex: none;
    width: auto;
  }
  .card .col-md-4 svg .card-body {
    display: flex;
  }
}
.statistics {
  background-color: #0D0F12;
  font-family: "Onest", sans-serif;
}
.statistics h1 {
  font-size: 60px;
}
.statistics span {
  color: #43D33E !important;
}

.portfolio {
  background-color: #0D0F12;
  font-family: "Onest", sans-serif;
  border-bottom: 1px solid #28292C;
}
.portfolio h6 {
  color: #48CC34;
}
.portfolio p {
  color: #E5E5E5;
  font-size: 18px;
  width: 45%;
}
.portfolio h1 {
  font-size: clamp(38px, 5vw, 60px);
}
.portfolio .portfolio-title {
  width: 60%;
}
.portfolio .gradient-portfolio {
  position: relative;
}
.portfolio .gradient-portfolio h1 {
  position: absolute;
  background: linear-gradient(180deg, #e8e7ff, rgba(236, 235, 248, 0.031372549) 97.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 330px;
  opacity: 0.1;
}
@media (max-width: 761px) {
  .portfolio h6 {
    font-size: 12px;
  }
  .portfolio .portfolio-title {
    width: 100%;
  }
  .portfolio p {
    width: 100%;
    text-align: center;
  }
}
.portfolio .img-wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.portfolio .img-wrapper img {
  display: block;
  transition: transform 0.3s ease;
}
.portfolio .img-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: 1;
}
.portfolio .img-wrapper:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}
.portfolio .img-wrapper .hover-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 2;
}
.portfolio .img-wrapper:hover .hover-plus {
  opacity: 1;
}
.portfolio .portfolio-text {
  cursor: pointer;
}
.portfolio .portfolio-text h6.linear-gradient-text-color {
  background: linear-gradient(to bottom right, #02ce80, #7bd706);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: color 0.3s ease;
}
.portfolio .portfolio-text svg {
  transition: transform 0.3s ease;
}
.portfolio .portfolio-text:hover h6 {
  color: white !important;
}
.portfolio .portfolio-text:hover svg {
  transform: rotate(-45deg);
}

@media (min-width: 768px) {
  .col-md-3.d-flex.flex-column.gap-3 {
    max-width: 347.5px;
  }
  .col-md-3:not(.d-flex.flex-column.gap-3) {
    max-width: 347.5px;
  }
  .col-md-6 {
    max-width: 705px;
  }
}/*# sourceMappingURL=main.css.map */