.linear-gradient-text-color{
    background: linear-gradient(to bottom right, #02ce80, #7bd706);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}