.company-vision {
    font-family: 'Onest', sans-serif;
    background-image: url(/images/companys__vision/company-vision-background-image.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 615px;
    padding: 100px 220px;
    min-height: 400px;

    h1 {
        font-size: clamp(36px, 5vw, 60px);
        line-height: 1;
    }

    h6 {
        color: #1ACF68;
        font-size: 14px;
    }

    .btn {
        color: #FFFFFF;

        &:hover {
            color: #FFFFFF;
        }
    }

    p {
        color: #E5E5E5;
        font-size: clamp(16px, 5vw, 18px);
        line-height: 1.3;
        width: 580px;
    }

    @media (max-width: 768px) {
        padding: 120px 10px;
        background-size: cover;
        h1 {
            width: 100% !important;
        }

        p {
            width: 100% !important;
        }
    }
}