.join-our-newsletter {
    background-color: #0D0F12 !important;
    font-family: 'Onest', sans-serif;
    background-image: url(/images/join__our__newsletter/img_1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   height: 100vh;
    @media (max-width: 768px) {
        height: 1400px;
    }
    .newsletter-title h6 {
        color: #35D24B;
    }

    .newsletter-form {
        background: rgba(255, 255, 255, 0.04);
        border: 1px solid #33383C;
        padding: 5px 10px;
        width: 100%;
        max-width: 630px;
        margin: 0 auto;
        display: flex;

        input {
            background: transparent;
            border: none;
            color: #fff;
            flex-grow: 1;

            &::placeholder {
                color: #ffffff90;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .subscribe-btn {
            background: transparent;
            border: none;
            color: #3CD348;
            font-weight: 600;
            padding: 0 10px;
            display: flex;
            align-items: center;
            cursor: pointer;

            svg {
                width: 17px;
                height: 17px;

            }

            &:hover {
                color: #ffff;
            }
        }
    }

    .card-container {
        border-top: 1px solid #1D262A;
        border-bottom: 1px solid #1D262A;
        max-height: 415px;

        .card-border {
            border-right: 1px solid#1D262A;
            border-left: 1px solid#1D262A;
        }

        .card {
            width: 414px;
            height: 412px;
            @media (max-width: 768px) {
            
      
                border-right: 1px solid#1D262A;
                border-left: 1px solid#1D262A;
                min-width: 100%;
                min-height: 100%; 
                
            }
            img {
                width: 145px;
                height: 58px;

            }

            p {
                color: #E5E5E5;
            }

            .icon-item {
                border: 1px solid #828282;
                width: 38px;
                height: 38px;
                transition: all 0.3s ease;
                color: #fff;

                svg {
                    width: 40%;
                    height: 40%;
                }

                &:hover {
                    color: #02ce80;
                }
            }
        }
    
    }

}