.marquee-inner-container {
    overflow: hidden;
    white-space: nowrap;
    background-color: #0D0F12 !important;
    font-family: 'Onest', sans-serif;

    display: flex; 
    gap: 40px;

    .marquee-inner {
        display: flex;
        align-items: center;
        flex-shrink: 0; 
        min-width: 100%;
        animation: marquee 80s linear infinite;

        span {
            display: flex;
            align-items: center;
            gap: 20px;
            
            color: transparent;
            -webkit-text-stroke: 1px #02ce80;
            font-size: clamp(30px, 6vw, 80px);
            font-weight: 700;
            letter-spacing: 3px;
            font-family: 'Onest', sans-serif;

            svg {
                flex-shrink: 0; 
            }
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 80px)); 
    }
}