nav {
    font-weight: 500;
    border-bottom: 1px solid #302F42;
    font-family: 'Onest', sans-serif;
    // .navbar {
    //  }

    .nav-link.dropdown-toggle::after {
        display: none !important;
    }

    &:hover {
        background-color: #0D051C;
        transition: all 0.5s ease;
    }

    .nav-icon {
        background-color: #E6405A;
        width: 15px;
        height: 15px;
        font-size: 10px;
        z-index: 999;
    }

    .navbar-nav .nav-link {
        white-space: nowrap;
    }

    .dropdown-menu {
        background-color: #0D0F12;
        color: #FFFFFF;
        width: 250px;
        height: auto;
        border-radius: none;
        .dropdown-item {
            white-space: nowrap;
            font-size: 11px;

        }
    }

}