.our-blog {
    background-color: #0D0F12 !important;
    font-family: 'Onest', sans-serif;

    .gradient-blog {
        position: relative;

    }

    .gradient-text-fix {
        position: absolute;
        background: linear-gradient(180deg, #e8e7ff, #ecebf808 97.92%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        display: inline-block;
        word-spacing: -0.2em;
        letter-spacing: 0.02em;
        font-size: 330px;
        font-weight: 600;
        opacity: 0.1;
        line-height: 1;
    }

    h6 {
        color: #41D340 !important;
        font-size: 14px;
    }

    h1 {
        font-size: clamp(38px, 5vw, 60px);
    }

    .our-blog-title,
    .our-blog .text-center h1 {
        position: relative;
        z-index: 1;
    }

    .card {
        text-align: center;
        overflow: hidden;

        .card-span {
            color: #979797;
        }

        .card-title {
            .dot-separator {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 8px;
                font-size: 20px;
                margin-top: -10px;
            }
        }

        .card-img-top {
            width: 100%;
            height: auto;
            transition: transform 0.2s ease-in-out;
            object-fit: cover;

            &:hover {
                transform: scale(1.02);
            }
        }

        .card-text {
            color: #FFFFFF;
            transition: all 0.5s ease;
            font-size: 24px;
            font-weight: 600;

            &:hover {
                color: #49CE36;
                transition: all 0.5s ease;
            }
        }

        .btn-blog {
            background-color: #2E3133 !important;
            width: 45px;
            height: 45px;

            &:hover {
                background: linear-gradient(to bottom right, #7bd706, #02ce80);
                transition: all 1.5s ease;
            }
        }
    }

}